@page
@using Humanizer
@using WebUI.Extensions
@model WebUI.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Feature Tracker</h1>

<div id="new-feature">
    <a class="btn btn-primary" href="/Features/NewFeature">+ Add New Feature</a>
</div>


<div class="m-3">
    @if (!Model.Features.Any())
    {
        <p class="text-center">There are currently no features available</p>
    }
    else
    {
        <div class="row g-0">
            @foreach (var feature in Model.Features)
            {
                <div class="card col-3 m-2">
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            <a asp-page="/Features/Detail" asp-route-id="@feature.Id"
                                class="link-dark text-decoration-none">@feature.Title</a>
                        </h5>
                        <span class="@feature.Priority.ToCssClass()">@feature.Priority</span>
                    </div>
                    <div class="card-footer text-muted">
                        <small>Created: @feature.Created.Humanize()</small>
                    </div>
                </div>
            }
        </div>
    }
</div>